<!-- "Join Team" (Post) Form -->
<div class="col-md-5">

    <!-- Creates Main Panel -->
    <div class="panel panel-default">

        <!-- Panel Title -->
        <div class="panel-heading">
            <h2 class="panel-title text-center">Add location of Ambulance/Hospital.<span class="glyphicon glyphicon-map-marker"></span></h2>
        </div>

        <!-- Panel Body -->
        <div class="panel-body">

            <!-- Creates Form (novalidate disables HTML validation, Angular will control) -->
            <form name ="addForm" novalidate>
                <div class="form-group">
                    <select ng-model="selected" ng-options="opt as opt for opt in type" ng-init="selected='Hospital'"></select>
                </div>


                <!-- Text Boxes and Other User Inputs. Note ng-model binds the values to Angular $scope -->
                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="Hospital Name/Ambulance Number" ng-model="formData.nameOfEntity" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="desc" placeholder="description" ng-model="formData.desc" required>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="phone" placeholder="phone" ng-model="formData.phone" required>
                </div>
                <label> add facilities here!</label>
                <div class="form-group">
                    <label for="latitude">Latitude</label>
                    <input type="text" class="form-control" id="latitude" value="39.500" ng-model="formData.latitude" readonly>
                </div>
                <div class="form-group">
                    <label for="longitude">Longitude</label>
                    <input type="text" class="form-control" id="longitude" value="-98.350" ng-model="formData.longitude" readonly>
                </div>

                <!-- Submit button. Note that its tied to createUser() function from addCtrl. Also note ng-disabled logic which prevents early submits.  -->
                <button type="submit" class="btn btn-danger btn-block" ng-click="createUser()" ng-disabled="addForm.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>